In [2]:
num_list = [1,2,3,4,5,6,7]

In [3]:
num_dictionary = {'first_num': 1, 'second_num': 2, 'third_num': 3}

In [5]:
num_list[2]

3

In [7]:
num_dictionary['first_num']

1

In [10]:
num_dictionary

{'first_num': 1, 'second_num': 2, 'third_num': 3}

In [11]:
menu = [9.99, 7.99, 1.99, 0.99]

In [15]:
menu = {'Burger': 9.99, 'Fries': 1.99, 'Drink': 0.99}

In [20]:
num_list[0] = 'new value'

In [21]:
num_list

['new value', 2, 3, 4, 5, 6, 7, 8]

In [22]:
menu['chicken burger'] = 20

In [23]:
menu

{'Burger': 9.99, 'Fries': 1.99, 'Drink': 0.99, 'chicken burger': 20}

In [27]:
sum(menu.values())

32.97

In [29]:
num_list = [1,2, [3, 4]]

In [31]:
num_list[2][0]

3

In [32]:
num_tup = (1,2,3,4,5)

In [33]:
num_tup[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [49]:
var = 10

In [53]:
string = "the date is the " + str(var) + 'th'

In [54]:
string

'the date is the 10th'

In [59]:
num = int(input("Number Doubler - pick a number"))
print(num * 2)

Number Doubler - pick a number10
20

In [56]:
num

'10'

In [66]:
num_list = [4, 1,2,3,2,1,'1', 'a', 2,3,4,5,3,2,1,2,3,4,5]

In [67]:
set(num_list)

{1, '1', 2, 3, 4, 5, 'a'}

In [68]:
True

True

In [69]:
False

False

In [70]:
type(True)

bool

True

In [76]:
2 < 3

True

In [77]:
4 > 2

True

In [78]:
3 == 3

True

In [87]:
3 >= 2

True

In [88]:
4 <= 2

False

In [90]:
not (word == 'computer')

False

In [97]:
age = 17
nationality = 'British'

In [98]:
nationality == 'British' and age > 18

False

In [99]:
weather = 'Raining'
temp = 10


weather == 'Raining' or temp < 15

True