In [1]:
print("hello")

hello

In [3]:
type(1.0)

float

In [7]:
type("1000")

str

In [8]:
key1= "name"
key2 = "sub-genres"

'10001000'

In [ ]:
["hamish", "mark", "huw", "simon"]

In [9]:
{"hamish": 23, "laura": 21, "martha": "just a kid"}

{'hamish': 23, 'laura': 21, 'martha': 'just a kid'}

In [31]:
genres = [{key1: "Hip-Hop", key2: ["Trap", "South"]}, {key1: "Disco", key2: ["Boogie"]}]

'my name /n is "hamish" an i\'m writig'

In [15]:
["hamish", "mark", "huw", "simon"]

['hamish', 'mark', 'huw', 'simon']

In [22]:
2 + 2

4

In [23]:
2 -1

1

In [24]:
2 * 3

6

In [25]:
6 / 3

2.0

In [26]:
3 ** 2

9

In [32]:
print(genres)

[{'name': 'Hip-Hop', 'sub-genres': ['Trap', 'South']}, {'name': 'Disco', 'sub-genres': ['Boogie']}]

In [33]:
a = 5

In [34]:
a

5

In [41]:
a = 10

In [36]:
a

10

In [37]:
a + a

20

In [38]:
a

10

In [39]:
b = a + a

In [40]:
b

20

In [42]:
a

10

In [43]:
a = a + a

In [44]:
a

20

In [45]:
age = 23

In [46]:
age = age + 1

In [47]:
age

24

In [50]:
age += 1

In [51]:
age

26

In [ ]:
counter = 1

In [53]:

income = 2000
tax_rate = 0.1

taxes = tax_rate * income
print(taxes)

200.0

In [54]:
[1,2,3]

[1, 2, 3]

In [55]:
["1", "2", "3"]

['1', '2', '3']

In [57]:
word = "computer"

In [59]:
length = len(word)

In [60]:
print(length)

8

In [63]:
len(word)

8

In [64]:
word.capitalize()

'Computer'

In [65]:
class String():
    
    def capitalize

SyntaxError: unexpected EOF while parsing (<ipython-input-65-8cb995690407>, line 1)

In [66]:
"word" + "word"

'wordword'

In [67]:
"4" + "5"

'45'

In [68]:
word

'computer'

In [84]:
num_list = "0123456789"

In [112]:
word[1:8]

'omputer'

In [97]:
name = "Laura"

In [99]:
f"Hello {name}"

'Hello Laura'

In [104]:
"hsdaiu ah duhauh {num_list}"

'hsdaiu ah duhauh {num_list}'

In [105]:
f"this is a sentence {name} numlist is: {num_list}"

'this is a sentence Laura numlist is: 0123456789'

In [106]:
mylist = [1, "hello", 1.5, [1,2,3,4]]

In [107]:
len(mylist)

4

In [113]:
mylist + mylist

[1, 'hello', 1.5, [1, 2, 3, 4], 1, 'hello', 1.5, [1, 2, 3, 4]]

In [ ]:
mylist[1]

In [114]:
len(mylist)

4

In [118]:
num_list = [1,3,5,6,3,2,5,7,3]
new_list = num_list
new_list.sort()

In [123]:
num_list.sort()

NoneType

In [125]:
num_list.reverse()

In [126]:
num_list

[7, 6, 5, 5, 3, 3, 3, 2, 1]

In [129]:
num_list.sort()

In [131]:
num_list

[7, 6, 5, 5, 3, 3, 3, 2, 1]

In [133]:
num_list[0] = "new value"

In [134]:
num_list

['new value', 6, 5, 5, 3, 3, 3, 2, 1]

In [135]:
"word"[0]

'w'

In [138]:
word = "table"

In [141]:
'table'[0]

't'

In [142]:
word[0] = "T"

TypeError: 'str' object does not support item assignment

In [143]:
word[0].upper() + word[1:]

'Table'

In [144]:
word

'table'

In [171]:
num_list.append("appended")

In [172]:
num_list

[5, 5, 3, 3, 2, 1, 'appended']

In [179]:
num_list.pop()

2

In [180]:
num_list

[5, 5, 3, 3]

In [181]:
popped_item

1

In [183]:
menu_list = [3.99, 5.99, 1.99, 0.99]

In [187]:
menu_prices = {"burger": 3.99, "fries": 1.99, "chicken": 9.99, "vegan": 20, "drink": 0.99}

In [188]:
menu_prices["burger"] + menu_prices["chicken"]

13.98

In [189]:
menu_dict

{'burger': 3.99, 'fries': 1.99, 'chicken': 9.99, 'vegan': 20, 'drink': 0.99}

In [193]:
menu_prices["chicken"] = 5

In [195]:
menu_prices

{'burger': 3.99, 'fries': 1.99, 'chicken': 5, 'vegan': 20, 'drink': 0.99}

In [196]:
menu_prices["fish"] = 2.30

In [199]:
menu_prices

{'burger': 3.99,
 'fries': 1.99,
 'chicken': 5,
 'vegan': 4.99,
 'drink': 0.99,
 'fish': 2.3}

In [198]:
menu_prices["vegan"] = 4.99

In [200]:
menu_prices["beer"] = 0.2

In [202]:
menu_prices["unlimited wings"] = 1

In [204]:
menu_prices.pop("vegan")

4.99

In [205]:
menu_prices

{'burger': 3.99,
 'fries': 1.99,
 'chicken': 5,
 'drink': 0.99,
 'fish': 2.3,
 'beer': 0.2,
 'unlimited wings': 1}

In [221]:
burger = list(menu_prices.items())[0]

In [225]:
burger.append(1000)

AttributeError: 'tuple' object has no attribute 'append'

In [216]:
num = 1000

In [217]:
str(num)

'1000'

In [234]:
"word word word word table food mcdonalds yum tasty".index("z")

0

In [235]:
(1, 2, 3, 2, 4, "word", 1, "sentence").index(2)

1

In [229]:
"word word word word table food mcdonalds yum tasty"[4]

' '

In [244]:
ourstring = "word word word word table food mcdonalds yum tasty"

In [246]:
ourlist = ourstring.split()

In [247]:
ourlist

['word', 'word', 'word', 'word', 'table', 'food', 'mcdonalds', 'yum', 'tasty']

In [243]:
"".join(ourlist)

'wordwordwordwordtablefoodmcdonaldsyumtasty'

In [253]:
numlist = [1,2,3]
numlist2 = [4,5,6]

In [254]:
numlist.extends(numlist2)

AttributeError: 'list' object has no attribute 'extends'

In [252]:
numlist

[1, 2, 3, [4, 5, 6]]

In [255]:
s= set()

In [256]:
s.add(1)

In [257]:
s.add(2)

In [258]:
s.add(3)

In [259]:
s

{1, 2, 3}

In [265]:
s

{1, 2, 3}

In [ ]:
s.

In [260]:
mylist = [1,2,3,5,2,3,2,3,3,1,2,1,3,1]

In [263]:
uniq_list = list(set(mylist))

In [262]:
mylist

[1, 2, 3, 5, 2, 3, 2, 3, 3, 1, 2, 1, 3, 1]

In [264]:
uniq_list

[1, 2, 3, 5]

In [ ]:
s = set(mylist)

In [267]:
2 > 3

False

In [268]:
2 < 3

True

In [269]:
3 == 3

True

In [270]:
3 != 4

True

In [275]:
(2 > 3) or (6 != 6)

False

In [266]:
type(True)

bool

In [1]:
word = "table"

In [25]:
class Cat():
    
    def __init__(self, name, stripes):
        self.name = name
        self.stripes = stripes
        
    def talk(self):
        print("meow!")

In [26]:
new_cat = Cat("milo", False)

In [21]:
new_cat.stripes

False

In [22]:
cat2 = Cat("ozzy", "no stripes")

In [28]:
new_cat.

meow!

In [24]:
word.

'table'

In [30]:
class Circle():
    
    pi = 3.14
    
    def __init__(self, radius):
        self.radius = radius
        
        
    def getArea(self):
        self.radius**2 * Circle.pi

In [1]:
class Animal():
    
    
    def __init__(self):
        print("animal created")
        
    def who_am_i(self):
        print("i am an animal")
        
    def eat(self):
        print('eating')

In [2]:
a = Animal()

animal created

In [3]:
a.eat()

eating

In [4]:
def Cat(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("cat created")

In [5]:
c = Cat("milo")